{% extends "layout.html" %}

{% block title %}
Documentations
{% endblock %}


{% block basepath %}
./
{% endblock %}

{% block content %}

<details id="sarchbox" open>
    <summary>Search</summary>
    <p>
    <form>
        <p>
            <input id="text" type="text" name="search">
            <br />
            <button id="btn_search">Search</button>
            <button id="btn_reset" type="reset">Reset</button>
        </p>
    </form>
    </p>
</details>

<div>
    <section id="current_search">Current term: <span id="term"></span></section>

    {% for doc in DOCS %}
    <article data-slug='{{doc.slug}}'>
        <h4>{{ doc.title }} ({{ doc.date }})</h4>
        <p>{{ doc.summary}}</p>
        <a href="article/{{ doc.slug }}.html">read more...</a>
        <hr />
        {% set list_of_tags = doc.tags.split(",") %}
        {% for tag in list_of_tags %}
        <mark class="tag">#{{ tag|trim }}</mark>
        {% endfor %}
    </article>

    {% endfor %}


</div>

{% endblock %}