{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="../static/css/simple.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block homelink %}
../index.html
{% endblock %}

{% block content %}
    {{post.content}}
{% endblock %}   

{% block title %}
    {{post.title}}
{% endblock %}

{% block subtitle %}
    {{post.subtitle}}
{% endblock %}

{% block date %}
    <span class="published">Published at: {{post.date}}</span>
{% endblock %}
